h1 {
   color: blue;
}

.pets {
   border: 1px black solid;
}

.pets th {
   border-bottom: 1px black solid;
}

.pets tr:first-of-type th {
   text-align: left;
}

.yourPetsDisplay {
   border: 1px black solid;
}

.yourPetsDisplay th {
   border-bottom: 1px black solid;
}

.yourPetsDisplay tr:first-of-type th {
   text-align: left;
}

.petsTable tr:first-of-type th {
   text-align: left;
}
